# Environment Configuration
POSTGRES_USER: postgres
POSTGRES_PASSWORD: s0m3_g00d_p4ssw0rd
BASE_URL: http://whatever.yourdomain.com
JWT_SECRET: VERY_STRONG_SECRET_SHOULD_BE_USED_HERE
EMAIL_NOREPLY: noreply@yourdomain.com
EMAIL_SMTP_HOST: mail.yourdomain.com
EMAIL_SMTP_USERNAME: user@yourdomain.com
EMAIL_SMTP_PASSWORD: s0m3p455w0rd
